#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}

#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

// #map {
//   width: 100%;
//   height: 70vh;
// }

.map-wrapper {
  position: relative;

  #map_center {
    // position: absolute;
    // z-index: 99;
    // height: 40px;
    // width: 40px;
    // top: 50%;
    // left: 50%;
    // margin-left: -21px;
    // margin-top: -41px;
    position: absolute;
    top: 50%;
    left: 50%;
    // background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    z-index: 1;
    margin-left: -10px;
    margin-top: -34px;
    height: 34px;
    width: 20px;
  }
}


#map {
  height: 75%;
  margin: 0;
  padding: 0;
}
#map_center {
  // position: absolute;
  // z-index: 99;
  // height: 40px;
  // width: 40px;
  // top: 50%;
  // left: 50%;
  // margin-left: -21px;
  // margin-top: -41px;
  position: absolute;
  top: 50%;
  left: 50%;
  // background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  z-index: 1;
  margin-left: -10px;
  margin-top: -34px;
  height: 34px;
  width: 20px;
}